<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geburtstagsquiz</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <a href='https://de.freepik.com/fotos/hintergrund'>Hintergrund Foto erstellt von rawpixel.com - de.freepik.com</a> -->
    <script src="./scripts/quiz-renderer.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body class="background">
    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
      <div>
        <h1 id="header" style="text-align: center;"></h1>
        <h3 id="motivation" style="text-align: center;"></h3>
        <br>
        <br>
        <h4 id="quiz-info" style="text-align: center;"></h4>
        <div style="text-align: center;">
          <input id="solution" style=" width: 65%;" placeholder="Lösung"></input>
          <br>
          <br>
          <button id="submit-solution" onclick="checkPassword()" type="button" class="btn btn-success">Passwort gefunden!</button>
        </div>
      </div>
    </div>
  </body>
</html>